title = "contivpp"
baseURL = "https://contivpp.io/"
languageCode = "en-us"
theme = "airspace-hugo"

# main menu
[menu]

  [[menu.header]]
    weight = 1
    name = "OVERVIEW"
    url = "/docs" 

  [[menu.header]]
    weight = 3
    name = "GET STARTED"
    url = "/setup/quick-start"  

  [[menu.header]]
    weight = 4
    name = "DEMO"
    url = "https://github.com/contiv/vpp/tree/kubecon2018/ui"

  [[menu.header]]
    weight = 5
    name = "GITHUB"
    url = "https://github.com/contiv/vpp"

  [[menu.header]]
    weight = 6
    name = "BLOG"
    url = "/blog"
  
  [[menu.header]]
    weight = 7
    name = "Contiv.io"
    url = "https://CONTIV.IO/"

  [[menu.header]]
    weight = 8
    name = "Slack"
    url = "https://contivvpp.slack.com//"

# The site's parameters
[params]

  # If you want to remove the copyright text you need a Themefisher license.
  # This license is offered with a 50% discount for all Hugo users.
  # For information see https://github.com/gohugoio/hugoThemes/issues/260

  dateFormat = "6 January 2006"

# beginning of landing page

  home = "Home"

#  points to slider.html under themes/../partials
  [params.slider]
    enable = true
    title = "contivpp.io"
    subtitle = "Contivpp.io is a Kubernetes CNI plugin that employs a programmable CNF vSwitch based an FD.io/VPP offering feature-rich, high-performance cloud native networking and services."

#  points to wrapper.html under themes/../partials
  [params.wrapper]
    enable = true
    title = "Challenges"
    paragraph = "Kubernetes defines the Container Network Interface (CNI) – an API for network plugins providing connectivity between PODs. That’s worked well so far, but as cloud native deployments grow and more services are added, new solutions are needed. First, there is currently no API to map Kubernetes services and policies to network configurations so it’s up to network plugin implementers to figure that out. A standard suite of APIs based on open source code would solve that problem. Second, the current use of kube-proxy (with iptables) limits network performance, scale and feature updates required to meet new service and policy demands. Moving all network functions (including data plane and control plane) to user space increases performance, scale, reliability and innovation velocity."

  [params.blog]
    enable = true
#    title = "Get The Latest On What We're doing"
#    subtitle = "Catch up with us, anytime and anywhere"
     draft = true

# points to feature.html in layouts/partials
  [params.feature]
    enable = true
    title = "contivpp.io Highlights"
    content = """

* Kubernetes services and policies traffic mapped to the FD.io/VPP data plane
* Automatically reprograms FD.io/VPP data plane upon service and policy updates received over Kubernetes APIs
* Accomodates high performance memif interfaces for inter-VPP communications along with existing veth/tap interfaces
* Observability using Prometheus and VPP trace functions
* Core component is the programmable CNF vSwitch built from open source FD.io/VPP and Ligato VPP Agent/APIs
* Full Kubernetes CNI support
* Runs in user space
* 100% open source
</br>


"""
    [params.feature.button]
      caption = "Check it out!"
      url = "/docs"

  [params.call]
    enable = true
    title = "contivpp.io"

