<!-- Slider Start -->
<section id="docs-header">
    <div class="container">
        <div class="row">
            <!-- <div class="col-md-2"></div>
            <div class="col-md-2"><a href="/docs/concepts/">CONCEPTS</a></div>
            <div class="col-md-2"><a href="/docs/setup/">SETUP</a></div>
            <div class="col-md-2"><a href="/docs/tasks/">K8s Networks Policies </a></div>
            <div class="col-md-2"><a href="/docs/tutorials/">K8s Services</a></div>
            <div class="col-md-2"></div> -->
            <!-- <div class="col-md-2"></div> -->
            <div class="col-md-3"><a href="/docs/concepts/">CONCEPTS</a></div>
            <div class="col-md-3"><a href="/docs/setup/">SETUP</a></div>
            <div class="col-md-3"><a href="/docs/services/">SERVICES</a></div>
            <div class="col-md-3"><a href="/docs/policies/">POLICIES</a></div>
            <!-- <div class="col-md-2"></div> -->
        </div>
    </div>
</section>